
body {
	background-image: url("../img/background.jpg");
	font-family: sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	width: 850px;
	margin: 0 auto;

}

#container {
	margin: 0 auto;
	width: 700px;
	height: 600px;

}

#box{
	margin: 0 auto;
	width: 470px;
	height: 470px;
}

#box > div > div {
	opacity: 0.8;
	width: 90px;
	height: 90px;
	background-color: white;
	margin: 0 2px;
	display: inline-block;
	border-radius: 10px;
	font-size: 50px;
}

#box > div > div > p {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	line-height: 90px;
	padding-left: 23px;
}


#button{
	margin:15px auto;
	top: 10px;
	font-size: 25px;
	width: 100px;
	height: 50px;
	
	background-color: green;
}
#buttonR{
	margin-left: 265px;
	top: 10px;
	font-size: 25px;
	width: 100px;
	height: 50px;
	background-color: orange;
}

footer{
	opacity: 0.8;

	background-image: url("../img/footer.jpg");
	text-align: center;
	top:30px;
	width: 800px;
	margin:0 auto;
	color:white;
	padding-top:1px;
	border-radius: 12px;
}

footer > p{

	line-height: 19px;
}